<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- 头部 -->
{include file="common/header"/}
<!-- /头部 -->

 <div class="content">
  <div class="width1190">
   <h2 class="title">租房 <a href="pro_zu.html">更多&gt;&gt;</a></h2>
   <div class="index-fang-list">
    <dl>
     <dt><a href="proinfo.html"><img src="__PUBLIC__/images/fang1.jpg" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="proinfo.html"></a>虹桥乐亭</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <dl>
     <dt><a href="{:url('index/index/proinfo')}"><img src="__PUBLIC__/images/fang2.jpg" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="proinfo.html"></a>静安豪景</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <dl>
     <dt><a href="proinfo.html"><img src="__PUBLIC__/images/fang3.jpg" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="proinfo.html"></a>中凯城市之光(静安)</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <dl>
     <dt><a href="proinfo.html"><img src="__PUBLIC__/images/fang4.jpg" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="proinfo.html"></a>水塘小区</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <div class="clears"></div>
   </div><!--index-fang-list/-->
   
   <h2 class="title">新房 <a href="pro_xin.html">更多&gt;&gt;</a></h2>
   <div class="index-fang-list">
    <dl>
     <dt><a href="proinfo.html"><img src="__PUBLIC__/images/fang5.jpg" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="proinfo.html"></a>虹桥乐亭</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <dl>
     <dt><a href="proinfo.html"><img src="__PUBLIC__/images/fang6.jpg" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="proinfo.html"></a>静安豪景</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <dl>
     <dt><a href="proinfo.html"><img src="__PUBLIC__/images/fang7.jpg" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="proinfo.html"></a>中凯城市之光(静安)</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <dl>
     <dt><a href="proinfo.html"><img src="__PUBLIC__/images/fang8.jpg" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="proinfo.html"></a>水塘小区</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <div class="clears"></div>
   </div><!--index-fang-list/-->
   
   <h2 class="title">二手房 <a href="pro_er.html">更多&gt;&gt;</a></h2>
   <div class="index-ershou">
    <div class="in-er-left">
     <a href="proinfo.html"><img src="__PUBLIC__/images/fangt1.jpg" width="380" height="285" /></a>
     <div class="in-er-left-text"><strong class="fl">闵行南方发的撒的发的司法</strong><strong class="fr alignRight">¥2841</strong></div>
    </div><!--in-er-left/-->
    <div class="in-er-right">
     <dl>
      <dt><a href="proinfo.html"><img src="__PUBLIC__/images/fang1.jpg" width="150" height="115" /></a></dt>
      <dd>
       <h3><a href="proinfo.html">浦东新区张江日水安华苑</a></h3>
       <div class="in-er-right-text">
        习近平强调，中方重视发展中南中方重视发展中南“同志加兄弟”的特殊关系。双方要坚持做
       </div>
       <div class="price">¥<strong>2890</strong></div>
      </dd>
      <div class="clears"></div>
     </dl>
     <dl>
      <dt><a href="proinfo.html"><img src="__PUBLIC__/images/fang3.jpg" width="150" height="115" /></a></dt>
      <dd>
       <h3><a href="proinfo.html">浦东新区张江日水安华苑</a></h3>
       <div class="in-er-right-text">
        习近平强调，中方重视发展中南中方重视发展中南“同志加兄弟”的特殊关系。双方要坚持做
       </div>
       <div class="price">¥<strong>2890</strong></div>
      </dd>
      <div class="clears"></div>
     </dl>
     <dl>
      <dt><a href="proinfo.html"><img src="__PUBLIC__/images/fang8.jpg" width="150" height="115" /></a></dt>
      <dd>
       <h3><a href="proinfo.html">浦东新区张江日水安华苑</a></h3>
       <div class="in-er-right-text">
        习近平强调，中方重视发展中南中方重视发展中南“同志加兄弟”的特殊关系。双方要坚持做
       </div>
       <div class="price">¥<strong>2890</strong></div>
      </dd>
      <div class="clears"></div>
     </dl>
     <dl>
      <dt><a href="proinfo.html"><img src="__PUBLIC__/images/fang5.jpg" width="150" height="115" /></a></dt>
      <dd>
       <h3><a href="proinfo.html">浦东新区张江日水安华苑</a></h3>
       <div class="in-er-right-text">
        习近平强调，中方重视发展中南中方重视发展中南“同志加兄弟”的特殊关系。双方要坚持做
       </div>
       <div class="price">¥<strong>2890</strong></div>
      </dd>
      <div class="clears"></div>
     </dl>
     <div class="clears"></div>
    </div><!--in-er-right/-->
    <div class="clears"></div>
   </div><!--index-ershou/-->
  </div><!--width1190/-->
 </div><!--content/-->
 <div class="xinren">
  <div class="width1190">
   <dl style="background:url(__PUBLIC__/images/icon1.jpg) left center no-repeat;">
    <dt>承诺</dt>
    <dd>真实可信100%真房源<br />链家承诺，假一赔百</dd>
   </dl>
   <dl style="background:url(__PUBLIC__/images/icon2.jpg) left center no-repeat;">
    <dt>权威</dt>
    <dd>独家房源 覆盖全城<br />房源信息最权威覆盖最广</dd>
   </dl>
   <dl style="background:url(__PUBLIC__/images/icon3.jpg) left center no-repeat;">
    <dt>信赖</dt>
    <dd>万名置业顾问 专业服务<br />百万家庭的信赖之选</dd>
   </dl>
   <dl style="background:url(__PUBLIC__/images/icon4.jpg) left center no-repeat;">
    <dt>安全</dt>
    <dd>安心承诺 保驾护航<br />多重风险防范机制 无后顾之忧</dd>
   </dl>
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--xinren/-->
<!-- 底部 -->
{include file="common/footer"/}
<!-- /底部 -->
</body>
</html>
